.page-header {
  padding: 1rem 6rem;
}

.main-content {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: Arial, Helvetica, sans-serif;
}

.form-content{
  display : flex;
  justify-content: space-between;
  align-items: stretch

}

.form-element{
    width:250px
}

.maxdepth{
    width:25px
}

/**
 * Uncomment to simulate bootstrap environment
 */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}
